{
  "passPerPreset": true,
  "plugins": [ "transform-class-properties" ],
  "presets": [
    { "plugins": [ "transform-runtime" ] },
    {
      "passPerPreset": false,
      "presets": [ "env", "react", "stage-0", "airbnb" ]
    }
  ]
}