.answer-overlay {
  $y-center: 375px;
  @include transition-fade-in-out(200ms);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  &.correct {
    @include radial-colour-transparent($y-center, $green);    
  }
  &.wrong {
    @include radial-colour-transparent($y-center, $red);    
  }
  .msg {
    @extend .linear-wipe;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 45px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: $text-shadow;
    z-index: 10;
    &.answer {
      top: 35px;
    }
    &.continue {
      top: 600px;
    }
  }
  .img-div {
    $width: 600px;
    $height: 450px;

    position: absolute;
    display: block;
    width: $width;
    height: $height;
    margin-left: -$width/2;
    margin-top: -$height/2;
    top: $y-center;
    left: 50%;
    .answer-img {
      $radial-image-mask: radial-gradient(circle at center, black 45%, transparent 58%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      mask-image: $radial-image-mask;
      -webkit-mask-image: $radial-image-mask;
    }
  }
}