@import '../common/colours.scss';
@import '../common/effects.scss';

.answer-overlay {
  $y-center: 483px;

  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  &-enter {
    opacity: 0.01;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
  &-leave {
    opacity: 1;
  }
  &-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
  }
  &.correct {
    background-image: radial-gradient(circle at 50% $y-center, $green 0, $grey-transparent 100%);    
  }
  &.wrong {
    background-image: radial-gradient(circle at 50% $y-center, $red 0, $grey-transparent 100%);    
  }
  .msg {
    @extend .linear-wipe;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 45px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.1);
    z-index: 10;
    &.answer {
      top: 160px;
    }
    &.continue {
      top: 700px;
    }
  }
  .img-div {
    $width: 600px;
    $height: 450px;

    position: absolute;
    display: block;
    width: $width;
    height: $height;
    margin-left: -$width/2;
    margin-top: -$height/2;
    top: $y-center;
    left: 50%;
    .answer-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mask-image: radial-gradient(circle at center, black 45%, transparent 58%);
      -webkit-mask-image: radial-gradient(circle at center, black 45%, transparent 58%);
    }
  }
}