.app-bar {
  padding: 5px 0 13px;
  display: flex;
  justify-content: space-between;
  .menu-button {
    width: 50px;
  }
  .app-logo {
    width: 50px;
    cursor: default;
    text-align: center;
    transform: scale(-1, 1);
    padding-top: 6px;
  }
  .icon {
    font-size: 26px !important;
    &.menu.multi {
      color: $lilac-white !important;
    }
    &.menu.create {
      color: $white !important;
    }
    &.app {
      color: $dark-grey !important;
    }
  }
}