.notification {
  @include transition-slide-from-right(-270px, 5px, 300ms);
  @extend .gradient-black;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: 5px;
  right: 5px;
  min-width: 250px;
  min-height: 30px;
  padding: 5px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  .message {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: $text-shadow;
    box-shadow: $box-shadow-inset;
    &.success {
      background: $green;
    }
    &.error {
      background: $red;
    }
  }
}

