@import 'audio-player.scss';
@import '../common/effects.scss';
@import '../common/colours.scss';

$border-outer: 1px solid $dark-grey;
$border-inner: 2px solid $dark-grey;

.multi-choice {

  .content {
    min-width: 701px;
    background-image: radial-gradient(circle at center, $lilac 0, $lilac-white 100%);
  }
  
  .text {
    color: $dark-grey;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    cursor: default;
  }
  
  .main-container {
    width: 700px;
    .info {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .choice-grid {
    width: 700px;
    cursor: pointer;
    .grid-tile {
      @extend .gradient-black;
      @extend .box-shadow;
      border: $border-outer;
      display: inline-block;
      border-radius: 3px;
      width: 345px;
      height: 300px;
      margin-top: 2px;
      margin-bottom: 2px;
      .tile-img {
        position: relative;
        display: block;
        margin: auto;
        top: 10px;
        width: 330px;
        height: 240px;
        border-radius: 3px;
        border: $border-inner;
        object-fit: cover;
      }
      .tile-text {
        position: relative;
        bottom: -20px;
        margin: auto;
        width: 200px;
        text-align: center;
        color: $lilac-white
      }
    }
  }
  
  .audio_player {
    @extend .gradient-black;
    @extend .box-shadow;
    width: 696px;
    border-radius: 3px;
    margin-bottom: 2px;
    border: $border-outer;
    .audio_info {
      text-align: center;
      color: $lilac-white;
      display: block;
      animation: unset;
    }
    .audio_time_progress {
      color: $lilac-white;
    }
    .audio_controls {
      padding: 0px 10px;
      margin: 0px !important;
      box-shadow: 6px 5px 19px -3px rgba(0, 0, 0, 0.56);
      z-index: 2;
    }
    .audio_info_marquee {
      z-index: 1;
    }
    .play_pause_button {
      background: #333;
      border-left: 2px solid $dark-grey;
      border-right: 2px solid $dark-grey;
      .play_pause_inner{
        .left, .right {
          background-color: $lilac-white;
        }
      }
    }
  }
  
  .answer-overlay {
    $y-center: 483px;
  
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    &-enter {
      opacity: 0.01;
    }
    &-enter-active {
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
    &-leave {
      opacity: 1;
    }
    &-leave-active {
      opacity: 0.01;
      transition: opacity 200ms ease-in;
    }
    &.correct {
      background-image: radial-gradient(circle at 50% $y-center, $green 0, $grey-transparent 100%);    
    }
    &.wrong {
      background-image: radial-gradient(circle at 50% $y-center, $red 0, $grey-transparent 100%);    
    }
    .msg {
      @extend .linear-wipe;
      position: absolute;
      text-align: center;
      width: 100%;
      font-size: 45px;
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-shadow: 3px 3px 1px rgba(0,0,0,0.1);
      z-index: 10;
      &.answer {
        top: 160px;
      }
      &.continue {
        top: 700px;
      }
    }
    .img-div {
      $width: 600px;
      $height: 450px;
  
      position: absolute;
      display: block;
      width: $width;
      height: $height;
      margin-left: -$width/2;
      margin-top: -$height/2;
      top: $y-center;
      left: 50%;
      .answer-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask-image: radial-gradient(circle at center, black 45%, transparent 58%);
        -webkit-mask-image: radial-gradient(circle at center, black 45%, transparent 58%);
      }
    }
  }
}
