@import 'audio-player.scss';
@import 'effects.scss';

$lilac: #CEAFFF;
$white: #F7F1FF;
$dark-grey: #636363;
$border-outer: 1px solid $dark-grey;
$border-inner: 2px solid $dark-grey;
$content-width: 696px;

html {
  @extend .gradient-black;
  font-family: 'Karla', sans-serif;
  height: 100%;
}

.content {
  position: relative;
  top: 60px;
  background-image: radial-gradient(circle at center,$lilac 0,$white 100%);
  box-sizing: border-box;
  box-shadow: 
    inset -9px 11px 9px -8px rgba(51,51,51,0.68),
    inset 10px -10px 9px -8px rgba(51,51,51,0.68);
  .background-canvas {
    position: absolute;
    bottom: 0;
  }
}

.text {
  color: $dark-grey;
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  cursor: default;
}

.main-container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0px 50px;
  .info {
    display: flex;
    justify-content: space-between;
  }
}

.choice-grid {
  width: 700px;
  cursor: pointer;
  .grid-tile {
    @extend .gradient-black;
    @extend .box-shadow;
    border: $border-outer;
    display: inline-block;
    border-radius: 3px;
    width: 345px;
    height: 300px;
    margin-top: 2px;
    margin-bottom: 2px;
    .tile-img {
      position: relative;
      display: block;
      margin: auto;
      top: 10px;
      width: 330px;
      height: 240px;
      border-radius: 3px;
      border: $border-inner;
      object-fit: cover;
    }
    .tile-text {
      position: relative;
      bottom: -20px;
      margin: auto;
      width: 200px;
      text-align: center;
      color: $white
    }
  }
}

.audio_player {
  @extend .gradient-black;
  @extend .box-shadow;
  width: $content-width;
  border-radius: 3px;
  margin-bottom: 2px;
  border: $border-outer;
  .audio_info {
    text-align: center;
    color: $white;
  }
  .audio_time_progress {
    color: $white;
  }
  .audio_controls {
    padding: 0px 10px;
    margin: 0px !important;
    box-shadow: 6px 5px 19px -3px rgba(0, 0, 0, 0.56);
    z-index: 2;
  }
  .audio_info_marquee {
    z-index: 1;
  }
  .play_pause_button {
    background: #333;
    border-left: 2px solid $dark-grey;
    border-right: 2px solid $dark-grey;
    .play_pause_inner{
      .left, .right {
        background-color: $white;
      }
    }
  }
}




