@import 'animations.scss';
@import 'colours.scss';
@import 'effects.scss';
@import 'transitions.scss';

html {
  @extend .gradient-black;
  font-family: 'Karla', sans-serif;
  height: 100%;
}
.content {
  position: relative;
  box-sizing: border-box;
  box-shadow: $box-shadow-inset;
  .background-canvas {
    position: absolute;
    bottom: 0;
  }
}

.main-container {
  margin: 0 auto;
  padding: 15px 0px;
  position: relative;
  z-index: 1;
}
