@import 'colours.scss';
@import 'effects.scss';

html {
  @extend .gradient-black;
  font-family: 'Karla', sans-serif;
  height: 100%;
}
.content {
  position: relative;
  box-sizing: border-box;
  box-shadow: 
    inset -9px 11px 9px -8px rgba(51,51,51,0.68),
    inset 10px -10px 9px -8px rgba(51,51,51,0.68);
  .background-canvas {
    position: absolute;
    bottom: 0;
  }
}

.main-container {
  margin: 0 auto;
  padding: 50px 0px 50px;
  position: relative;
  z-index: 1;
}




