$green: #70D223;
$red: #F03B23;

$lilac: #CEAFFF;
$lilac-white: #F7F1FF;

$white: #F5F5F5;
$grey: #A1A1A1;
$grey-transparent: rgba(99, 99, 99, 0.9);
$dark-grey: #636363;
$dark-grey-transparent: rgba(47, 47, 47, 0.69);
$black-transparent: rgba(21, 21, 21, 0.69);

$darker-grey: #3F3F3F;